
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.confirm-email-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirmation-message {

    padding: 20px;
    text-align: left;

    padding-right: 10px;

    padding-top: 20px;
    font-family: "Poppins";
  
    
    font-weight: bold;

}

.confirmation-image {
    flex: 1;
    padding: 150px;
    display: flex;
   
    justify-content: center;
    object-fit: cover; /* Ensures the image covers the entire div without stretching */


}

.confirmation-image img {
    max-width: 100%;
   
}

.confirm{

    width: 390px;
    font-family: "Poppins";
    font-size: small;

}

.me{
margin-top: 30px;
margin-bottom: 30px;
background-color: #9AE6B4;

border: 2px solid #9AE6B4;
padding: 10px;
border-radius: 1rem;
    padding-bottom: 30px;
    color: black;
    font-family: "Poppins";

    padding-left: 60px;
}