.confirm-email-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirmation-message {

    padding: 20px;
    text-align: left;

    padding-right: 10px;

    padding-top: 20px;
    font-family: "Poppins";
  
    
    font-weight: bold;

}

.confirmation-image {
    flex: 1;
    padding: 150px;
    display: flex;
   
    justify-content: center;
    object-fit: cover; /* Ensures the image covers the entire div without stretching */


}

.confirmation-image img {
    max-width: 100%;
   
}

.confirm{

    width: 390px;
}

.me{
margin-top: 30px;
margin-bottom: 30px;
background-color: #00A4BD;
border: 2px solid #00A4BD;
padding: 10px;
border-radius: 1rem;
    padding-bottom: 30px;
}