@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Imagetitle {
    margin-top: 2px;
    margin-left: 530px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #0F3C4C;
}


.ImageCategory{

    margin-top: 2px;
    margin-left: 530px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #0F3C4C;
}

.UploadHead {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    padding-bottom: 90px;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #2187AB;
}

.ImageDiscription {
    margin: 4px;
    margin-left: 530px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #0F3C4C;
}

.discription {
    width: 400px;
    height: 79px;
    margin-left: 36%;
}

.imgtil {
    margin-left: 36%;
    width: 400px;
    height: Fixed (38px);
}

.dropNDrag {
    display: flex;
    justify-content: center;
}

.botton {
    width: 400px;
}



.upload-container {
    display: flex;
    justify-content: center;
}

.drag-drop-zone {
    width:400px;
    height: 250px;
    border: 2px dashed #2187AB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
padding-bottom: 100px;

background-color: #E9F5F9;


}

.drag-drop-text {
    margin-top: 10px;
    font-size: 14px;
    color: #2187AB;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.upload {
    background: #2187AB;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}

.save {
    background:  #2187AB;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;

    margin-left: 650px
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter Tight', sans-serif;
}

.navbarBTN {

    color: #fff;
    border: none;
    width: 100%;
    height: 56px;
    margin-bottom: 10px;

    padding-right: 53%;

font-size: x-large;
}
.navbarh{
    
    color: #fff;
    border: none;
    width: 100%;
    height: 56px;
    margin-bottom: 10px;

    padding-right: 65%;

font-size: x-large;
}
button.uplodBTN  {
   
    color:  white;
    border: none;
    width: 100%;
    height: 56px;
    margin-bottom: 10px;
font-weight: bolder;

    padding-right: 40%;
    font-size: x-large;
}

.bars {

  
    width: 100%;
    height: 100%;
    background: rgba(33, 135, 171, 0.5);

  ;
}

.navbar-brand {
    font-size: 24px;
    color: #0F3C4C;
}

button.logout {
    width: 100%;
    height: 56px;
    
 color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-size: 16px;
  background-color: #2187AB;
    padding-right: 70%;

    margin-right: 20px;
}

.logout .icon {
    margin-right: 10px;
}

.vertical-panel {
    width: 500px;
    height: 1054px;
   background: #2187AB;


    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loghead {
    font-size: 28px;
    color: #2187AB;
    font-weight: bold;

    padding-right: 70%;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Uploadmuster{

 width: 90%;
 height: 80%;
}

.ma {
    margin-right: 15px;
}

.cloud{
margin-top: 50px;
    width: 70%;
    height: 75%;
}

.topnavname{

    padding-right: 500px;
}

.show{

    margin-right: 50px;
}

.Navbar.Brand {

  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
color: #2187AB;    


}

.loghead{

    font-family: Poppins;

    line-height: 24px;
    text-align: center;
    color: white;

    margin-bottom: 50px;
}