.content {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 400px;
    background: #2187AB;
    color: white;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-buttonrr {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-top: 25px;
    padding-right: 40%;
}

button.ll{

    padding-right: 200px;
}

button.lr{
    padding-right: 250px;

}

.nav-button.active {
    padding-right: 260px;
}
.nav-button:hover {
    background-color: #0056b3;
}

.sidebar footer {
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    overflow-y: scroll;
}

.edit-nav {
    margin-bottom: 20px;
}

.edit-card {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logout {
    background-color: #007bff;
    margin-left: 20px;
    border: none;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}

.edit-log {
    margin-right: 200px;
    font-size: large;
    margin-bottom: 20px;
}

.navButoom {
    margin-bottom: 140%;
}

button.danger{
    width: 100%;
}

/* EditImage.css */

/* Margin for Form Labels */
form label {
    margin-top: 20px; /* Adjust the value to your preference */
}

/* Margin for Form Controls */
form .form-group .form-control {
    margin-top: 10px; /* Adjust the value to your preference */
}

/* Card Styles */
.edit-card {
    margin-top: 20px;
    padding: 20px;
}

/* Spacing for Buttons */
button.mt-3 {
    margin-top: 15px;
}

.alert-success{

    padding-left: 40%;
}