
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.forgetpic{

    height: 350px;
    width: 660px;

    padding-bottom: 50px;
}


form{
    padding-top: 40px;
}

.email-label{

    margin-right: 64%;
    font-size: small;

    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;



   margin-bottom: -1px;
}


.rest{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
   
     font-style: normal;

width: 420px;
margin-left: 55px;
margin-right: 145px;
}
/* Additional styles for the component */

.forgetcontrol{
    margin-left: 10%;
    width: 70%;

    margin-right: 190px;

    padding: 6px;
}

.fg{
   
    position: relative;
    left: 10px;
    
padding-top: 90px;


font-family: "Poppins";
font-weight: 300;

font-weight: bold;

color: #0F3C4C;;


    margin-right: 29%;
}

.row{


    padding-right: 40px;
}