
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.custom-image {
    height: 240%; /* Adjust as needed */
   width: 290%;
}
form{
    padding-top: 40px;
}

.form-label{

    margin-right: 65%;
    font-size: small;

    font-family: "Inter Tight", sans-serif;

color:  #2187AB;;
}


.btn{
    font-family: "Inter Tight", sans-serif;

width: 440px;
}
/* Additional styles for the component */

.form-control{
    margin-left: 10%;
    width: 80%;
}

.heading{
   
    position: relative;
    left: 10px;
    

    margin-right: 30%;
}