.custom-image {
    height: 240%; /* Adjust as needed */
   width: 290%;
}
form{
    padding-top: 40px;
}

.form-label{

    margin-right: 62%;
    font-size: small;
}


.btn{


}
/* Additional styles for the component */

.form-control{
    margin-left: 10%;
    width: 80%;
}

.heading{

    margin-right: 30%;
}