.bac{
margin-top: 5%;
    margin-left: 80%;
}
.red{

    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #00A4BD;
    border: 2px solid #00A4BD;
    padding: 10px;
    border-radius: 1rem;
padding-left: 30%;
    margin-top: 30%;
margin-right: 14%;
}
.grow{


    margin-bottom: 10%;
}

.cur{

    font-family: "Poppins";
    font-weight: bold;
    color: #0F3C4C;
}