@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    width: 100%;
}

.sidebarGallery {
    width: 400px;
    background: #2187AB;
    color: white;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Other styles similar to Home.css but specific to the gallery */

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px;
}


.pagination .page-link {
    color: #007bff;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 15px;
    border: none;
    margin: 0 5px;
    background-color: #f8f9fa;
}

.pagination .page-link.active {
    background-color: #007bff;
    color: white;
}

.nav-buttonG {

    width: 100%;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    padding-right: 160px;
    margin-bottom: 10PX;
    margin-top: 25px;
}
button.h{

    padding-right: 250px;
}

button.g{

   padding-right:  200px;
}

.dicrip{

    width: 100%;
    word-wrap: break-word;  /* Ensure words break to the next line if too long */
    white-space: normal;    /* Allow text to wrap to the next line */
    margin: 0;              /* Remove any default margin */
    font-size: 14px;        /* Adjust font size as needed */
    line-height: 1.5;   
}

.comment-count {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    width: 150px;
    padding: 3%;
}

.comment-icon {
    margin-right: 2px;
}


.home-image-container {
    position: relative;
    display: inline-block;
}

.home-card-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    z-index: 10; /* Ensure the overlay is on top of the image */
    margin-top: 55%;



}

.home-image-item {
    display: block;
    width: 100%;
    height: auto;
}


