@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.custom-image {
    height: 200%; /* Adjust as needed */
    width: auto;
}
form {
    padding-top: 40px;
}

.form-label {
   

    margin-right: 90%;
    font-size: small;

   
    

}

.form-control {
      padding-left: 5px;
    font-size: xx-small;
    margin-left: 10%;
    width: 80%;
}


.heading{

  padding-right: 100%;
}


.nae{
    margin-right: 74%;
    font-size: small;

    font-family: "Inter Tight", sans-serif;

    color:  #2187AB;;



}
.con{

    margin-right: 60%;
    font-size: small;

    font-family: "Inter Tight", sans-serif;

    color:  #2187AB;;
}


.na{

    margin-right: 69%;
    font-size: small;

    font-family: "Inter Tight", sans-serif;

    color:  #2187AB;;

}

.btn-primary{

    font-family: "Inter Tight", sans-serif;

}

.or{
    font-size: smaller;
}

.btn-link{
    color:  #2187AB;;
    margin: 3px;

    font-family: "Inter Tight", sans-serif;

}

/* Additional styles for the component */
