@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


form {
    padding-top: 40px;
    margin-left: 45px;
}

.form-label {
   

    margin-right: 90%;
    font-size: small;

}

.control1 {
      
    font-size: xx-small;
 margin-right: 79px ;
   width: 100%;

   padding: 10px;

   margin-top:0px;
}


.registerhead{

margin-right: 103px;
    padding-top: 100px;

    padding-bottom: 55px;
    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;

  padding-right: 10%;
}


.nae{
padding-right: 600px;
    font-size: small;

padding-bottom: -1px;

margin: 1px;

font-family: "Poppins";
font-weight: 300;

font-weight: bold;

color: #0F3C4C;;


}
.con{

padding-right: 310px;
    font-size: small;

    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;


    margin: 1px;
color: #0F3C4C;;
}


.na{

    padding-right: 650px;
margin: 1px;
    font-size: small;

    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;
}

button.registerbtn{

    background-color:#2187AB;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

width: 100%;
    margin-top: 30px;

    color: white;
}

.or{
    font-size: smaller;

    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;

    margin-left: 50%;
}

button.twin{
    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;


width: 100%;


box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

margin-bottom: 20px;
  
}

.row{

    margin-left: -250px;
}

.register{

    margin-right: 20%;

}
/* Additional styles for the component */

.picRes{

  height: 70%;
   
}




.push{

 width: 100%;
}

.message{

    color: red;

    margin-left: 35%;
    margin-top: 5%;
}

.container{
max-width: 100%;
}
.error-messages {
    list-style-type: none;
    padding-left: 0;
  }
  
