.CP{

    
padding-right: 340px;
    margin-right: 1%;

   
    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;

}

.reheading{
    padding-right: 30px;
  
  padding-top: 120px;


  font-family: "Poppins";
  font-weight: 300;
  
  font-weight: bold;

color: #0F3C4C;;


margin-right: 270px;





}

.img-fluid {
    height: 240%; /* Adjust as needed */
   width: 290%;
}

.btn-primary{

    background-color:#2187AB;
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;

    font-weight: bold;

}

.np{

    margin-right: 1%;

    padding-right: 398px;

   
      
    font-family: "Poppins";
    font-weight: 300;
    
    font-weight: bold;

color: #0F3C4C;;

}

.win{

    font-size: x-small;

    padding: 20px;

  
}

.container{

    margin-left: 100px;
  

}

.grow{

    margin-top: 20px;
    width: 505px;
margin-right: 100px;

}

.goat{

    padding-right: 90px;
}

.restpic{

    max-width: 60% ;

    height: 250px;
}

.red{

    color: red;
}